{namespace vh=HSE\HeTools\ViewHelpers}
    <f:layout name="Default" />

        <table>
            <th>Name</th>
            <th>Benutzername</th>
            <th>Benutzergruppe</th>
            <th></th>

            <f:for each="{feuserList}" as="frontendUser">
                <tr>
                    <td>{frontendUser.name}</td>
                    <td>{frontendUser.username}</td>
                    <td>
                        {usergroup}
                    </td>
                    <td>
                        <vh:Be.EditUserLink tableName="fe_users" identifier="{frontendUser.uid}" returnUrl="{returnUrl}"></vh:Be.EditUserLink>
                    </td>
                </tr>
            </f:for>
        </table>
    
        