
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for PersData</h1>

<f:flashMessages />

<table  class="tx_hetools" >
	<tr>
		<th><f:translate key="tx_hetools_domain_model_persdata.title" /></th>
		<th><f:translate key="tx_hetools_domain_model_persdata.value" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{persDatas}" as="persData">
		<tr>
			<td><f:link.action action="show" arguments="{persData : persData}"> {persData.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{persData : persData}"> {persData.value}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{persData : persData}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{persData : persData}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New PersData</f:link.action>
</f:section>