
<f:layout name="Default" />

<f:section name="content">

	<f:flashMessages renderMode="div" class="message" />

	<f:form.hidden id="return_url" value="{returnUrl}" />
	<f:form.hidden id="ajax_url" value="{f:uri.action(action: 'listAjax', noCacheHash:'TRUE', controller:'BeUsers')}" />


	<label for="be_users_search_filter" class="filter_label">
		<f:translate key="general.display.filter_search"></f:translate>
	</label>

	<f:form.textfield
			type="input"
			value="{filter}"
			class="ajaxFilter"
			id="be_users_search_filter"
			/>

	<div id="be_userlist">
		<f:render partial="BeUsers/List" arguments="{userList: userList, returnUrl: returnUrl}" />
	</div>

</f:section>

