{namespace vh=HSE\HeTools\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"/>

    <f:alias map="{ll: 'LLL:EXT:he_tools/Resources/Private/Language/locallang.xlf:'}">

        <table class="userList">
            <tr>
                <th class="title">
                    <f:translate key="{ll}be_users.columns.name"></f:translate>
                </th>
                <th class="username">
                    <f:translate key="{ll}be_users.columns.username"></f:translate>
                </th>
                <th class="usergroups">
                    <f:translate key="{ll}be_users.columns.usergroups"></f:translate>
                </th>
                <th class="actions">
                    <f:translate key="{ll}be_users.columns.actions"></f:translate>
                </th>
            </tr>

            <f:for each="{userList}" as="backendUser">
                <tr>
                    <td class="name">{backendUser.realName}</td>
                    <td class="username">{backendUser.username}</td>
                    <td class="username">{backendUser.usergroups}</td>

                    <td class="actions">
                        <vh:Be.EditBackendUserLink tableName="be_users" identifier="{backendUser.uid}" returnUrl="{returnUrl}"></vh:Be.EditBackendUserLink>
                        <f:link.action action="switchUser" class="btn btn-default" target="_top" arguments="{switchUser: backendUser.uid}" title="Benutzer wechseln">
                            <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-system-backend-user-switch" data-identifier="actions-system-backend-user-switch">
                                <span class="icon-markup">
                                    <img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-system-backend-user-switch.svg" height="16" width="16">
                                </span>
                            </span>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </table>

    </f:alias>
</div>