#spinOverlay{
    position:fixed;
    display:block;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5)
    url("/typo3/sysext/t3skin/images/spinner/big-f0f0f0.gif") center center no-repeat;
    z-index:99
}
#spinOverlayMessage{
    margin:auto;
    position:absolute;
    height:10px;
    width:200px;
    text-align:
    center;
    color:#fff
}

textarea.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

.tx-he-tools table {
    border-collapse: collapse;
}

.tx-he-tools table th {
    font-weight:bold;
    color: white;
    background: #004666;
    padding: 2px 4px;
}

.tx-he-tools table td {
    vertical-align:top;
    border: 1px solid #004666;
    padding: 2px 4px;
}

.tx-he-tools table tr:nth-child(odd) {
    background: #fff;
}

.tx-he-tools table tr:nth-child(even) {
    background: #eee;
}

.tx-he-tools table .btn {
    padding: 2px;
}

.typo3-messages .message-error {
    color:red;
}

.typo3-messages .message-ok {
    color:green;
}
