<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>Personen-Import</head>
<body>

<f:layout name="Default"/>

<f:section name="content">
    <h1>Personen verwalten</h1>
    <f:be.menus.actionMenu>
        <f:be.menus.actionMenuItem label="Bitte Funktion auswählen" action="managePersons" controller="Backend" />
        <f:be.menus.actionMenuItem label="Personen importieren" action="import" controller="Backend"/>
        <f:be.menus.actionMenuItem label="Backend-Benutzer" action="backendUsers" controller="Persons"/>
        <f:be.menus.actionMenuItem label="Frontend-Benutzer" action="frontendUsers" controller="Persons"/>
    </f:be.menus.actionMenu>

</f:section>

</body>
</html>