<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>Personen-Import</head>
<body>

<f:layout name="Default">

    <f:section name="main">

        <h1>Ausgewählte Personen</h1>

        <dl class="dl-horizontal">
            <f:for each="{personsList}" as="list">
                <dt>Person:</dt>
                <dd>{list.feuser.Name}</dd>
            </f:for>
        </dl>

    </f:section>
</f:layout>

</body>
</html>
