<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://schema.helhum.dev/ns/fluid/ViewHelpers">
<head>Personen-Import</head>
<body>

<f:layout name="Default">

    <f:section name="main">

        <h1>Ausgewählte Personen</h1>

        <dl class="dl-horizontal">
            <f:for each="{personsList}" as="list">
                <dt>Person:</dt>
                <dd>{list.feuser.Name}</dd>
            </f:for>
        </dl>

    </f:section>

    <f:section name="content">

        <table>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Username</th>
            <th>Funktion</th>
            <th>Fakultät</th>
            <th>Einrichtung</th>

            <f:for each="{personsList}" as="list">
                <tr>
                    <td>{list.feuser.firstName}</td>
                    <td>{list.feuser.lastName}</td>
                    <td>{list.feuser.username}</td>
                    <td>
                        <f:for each="{list.persFunc}" as="persFunc">
                            {persFunc.type.title}
                        </f:for>
                    </td>
                    <td>
                    <f:for each="{list.persFunc}" as="persFunc">
                        {persFunc.faculty.shortcut}
                    </f:for>
                    </td>
                    <td>
                    <f:for each="{list.persFunc}" as="persFunc">
                        {persFunc.institution.title}
                    </f:for>
                    </td>
                </tr>

            </f:for>
        </table>

    </f:section>

</f:layout>

</body>
</html>
